body{
    background-color: rgb(7, 7, 7);
    margin: 0;
    margin-right: 20%;
    margin-left: 20%;
    height: 100%;
}

.title{
    border: solid 2px rgb(0, 255, 0);
    color: rgb(0, 255, 0);
    border-radius: 55px;
    font-size: 2.5rem;
    padding: 1.5rem;
    margin: 8px;
    text-align: center;
}

h2, h3{
    padding: 2rem 0 0.5rem 0;
    color: rgb(0, 255, 0);
}

p{
    line-height: 150%;
    color: rgb(0, 255, 0);
}

b{
    font-size: large;
}


a{color: rgb(0, 255, 0);}