body{
    background-color: rgb(7, 7, 7);
    margin: 0;
    height: 100%;

    display: grid;
    grid-template: 
        "firsttextbox" auto
        "maintextbox"   100%;
}

/* menu and name bar*/
.firsttextbox{
    grid-area: firsttextbox;
    
    display: grid;
    grid-template: 
    "menu   name" auto  /
    23rem   30rem
    ;
}

.name{
    border: solid 2px rgb(0, 255, 0);
    color: rgb(0, 255, 0);
    border-radius: 55px;
    font-size: 1.5rem;
    grid-area: name;
    padding: 0.5rem;
    margin: 8px;
    text-align: center;
}

/* */
.maintextbox{
    grid-area: maintextbox;
    background-color:none;
    padding: 0;
    margin: 4rem;

    display: grid;
    grid-template: 
    "blue   maintextbox a" auto  /
    70%     30%
    ;
}

.blue{
    width: 15rem;
    height: 90%;
    margin-left: 5rem;
    border-radius: 25px;

}

.maintextbox ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.maintextbox li {
    margin-bottom: 1.5rem; 
}

.maintextbox a{
    padding: 0.5rem;
    margin: 1rem 1.5rem;
    text-decoration: none;
    color: rgb(0, 255, 0);
    border: solid 2px rgb(0, 255, 0);
    border-radius: 25px;
}

h1{
    margin: 1rem;
}